{{#contracts}}
- kind: ethereum
    name: {{name}}
    network: mainnet
    source:
      address: "{{address}}"
      abi: Contract
      startBlock: {{startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.5
      language: wasm/assemblyscript
      entities:
        - OwnershipTransferred
        - Trade
      abis:
        - name: Contract
          file: ./abis/Contract.json
        - name: ERC20
          file: ./abis/ERC20.json
        - name: ERC20SymbolBytes
          file: ./abis/ERC20SymbolBytes.json
        - name: ERC20NameBytes
          file: ./abis/ERC20NameBytes.json
        - name: ChainLink
          file: ./abis/ChainLink.json
        - name: AggregatorV3Interface
          file: ./abis/AggregatorV3Interface.json
      eventHandlers:
        - event: Trade(indexed address,address,bytes,int256,address,uint256,uint256,uint256)
          handler: handleTrade
      file: ./src/mapping.ts
{{/contracts}}